@import './src/scss/mixins/breakpoints';

.field {
    width: 100%;
    &:not(:last-child) {
        margin: 0 0 15px 0;

        @include small-up {
            margin: 0 0 20px 0;
        }
    }
}
