@import 'src/scss/variables/colours';

.showablePasswordInput {
    display: block;
    position: relative;
}

.textInput {
    display: block;
}

.passwordInput {
    display: block;
}

.button {
    width: 53px;
    height: 53px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: $textGhosted;

    &:hover {
        color: $textPrimary;
    }
}
