@import 'src/scss/variables/colours';

.navigation {
    display: flex;
    height: 40px;
    background-color: $backgroundPrimary;
}

.list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;

    &:not(:first-child):before {
        content: "";
        display: block;
        width: 1px;
        height: 10px;
        margin: 0 10px;
        background-color: darken($color-white, 50);
        align-self: center;
    }
}

.link {
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: .7rem;
    padding: 0 15px;
    margin-top: 5px;
    color: $color-white;
}

.activeNavLink {
    background-color: $backgroundGrey;
    color: $textPrimary;
    font-weight: normal;
}
