.heading {

}

.subHeading {

}

.formHeading {

}

.fieldsetHeading {
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    color: #44444c;
    font-size: .95rem;
    font-weight: 100;
    letter-spacing: .6px;
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
}
