{
    "presets": [
        ["es2015", {"modules": false}],
        "react",
        "stage-2"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-export-extensions"
    ]
}
