$primaryGreen: #92e06c;
$secondaryGreen: #92e06c;
$alternateGreen: #92e06c;

$backgroundWhite: #fff;
$backgroundGrey: #f5f5f8;
$cardGrey: #fcfcfc;
$dividerGrey: #f2f2f2;
$outlineGrey: #e5e5e8;

$textPrimary: #444445;
$textGhosted: #bbbbbb;

$textPrimaryInverse: #bbbbbb;
$textGhostedInverse: #444445;

$backgroundPrimary: #333344;

$color-white: #ffffff;
